p {
    color: black;
}

body {
    background: #333333;
}

body,
html {
    height: 100%;
    width: 100%;
}

/* .navbar {
    background-color: #555555;
    color: white;
    z-index: 100;
} */

#execPendingRentals{
    display: none;
}

.page-container {
    margin-top: 40px;
}
.topnav .search-container {
    float: right;
}

.search-container {
    display: none;
}

.description{
    margin: 10px;
}

#rentalsTitle {
    position: sticky;
    margin-top: 30px;
    background: #212121;
    text-align: center;
    color: white;
    font-size: 1.75em;
    z-index: 90;
    padding: 10px;
    border-radius: 3px;
    margin: auto;
}

.rental-listitem {
    position: sticky;
    background: white;
    color: #212121;
    padding: 10px;
    z-index: 92;
    box-shadow: 0px 0px 8px #888888;
    font-size: 1.25em;
    border-radius: 3px;
    margin-top: 10px;
}

#rentalsContainer {
    margin: auto;
}

#goToInventory {
    position: sticky;
    margin: auto;
}

.formatButton {
    max-width: none;
}

#mInventoryPage{
    text-align: center;
}


/* Form Page */
#formReviewPage, #formPage, #detailPageCurrent,#detailPageRequest{
    background-color:white;
    padding: 50px;
    color: #333333;
}

#titleRenter{
    color: #333333;
}

.titleForm{
    margin-top: 15px;
    color:#333333;
    font-variant-caps: all-small-caps;
    font-size:1.75em;
}

.formTitle{
    color: #333333;
    margin-left: 40px;
}

.form2{
    color: #333333 !important;
}

.formHeaderLine{
    margin-bottom: 50px;
}

.quantityList > .list-group-item{
    justify-content: center;
}
.list-group-item{
    color: #333333;
}

.itemList, .quantityList{
    max-width: none;
    margin: auto;
}

.listTitle{
    font-variant-caps: all-small-caps;
    font-size: 1.5em;
}

#formNav{
    background-color: #333333;
}

#signBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sigBox{
    width: min-content;
}

.btn{
    margin: 10px;
}

/* Managment Homepage */
.navButton{
    position: sticky;
    color: white;
    background: #222222;
    height: fit-content;
    padding: 10px;
    z-index: 97;
    box-shadow: 0px 0px 8px #888888;
    font-size: 1.25em;
    border-radius: 3px;
    margin-top: 10px;
}

#buttonContainer{
    margin:auto;
    margin-top: 40vh;
}


/* Rentals Home */
#bg > #rentalsImage{
    min-width: 70%;
    min-height: 70%;
}

/* Inventory Page */
.inventory-listitem {
    position: sticky;
    background: white;
    color: #212121;
    height: fit-content;
    padding: 10px;
    z-index: 97;
    box-shadow: 0px 0px 8px #888888;
    font-size: 1.25em;
    border-radius: 3px;
    margin-top: 10px;
    padding: 20px;
}

#checkOutButton{
    display: none;
}

/* Get the header to scroll correctly */
/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

/* Search Bar from https://www.w3schools.com/howto/howto_css_searchbar.asp */

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #212121;
    z-index: 98;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

#bg {
    position: fixed;
    left: -50%;
    width: 200%;

}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 50%;
    filter: brightness(2);
    filter: contrast(2);
    image-rendering: pixelated;
    filter: grayscale(100%);
}

#bgLogin {
    position: fixed;
    top: -40%;
    left: -50%;
    width: 200%;
}

#bgLogin img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 50%;
    /* filter: brightness(2);
    filter: contrast(2); */
    image-rendering: pixelated;
    filter: grayscale(50%);
}

#titleLogin{
    position: relative;
    z-index: 99;
    font-size: 36pt;
    color: white;
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: #212121;
}

#rosefireButton{
    font-size: x-large;
    color: white;
}